@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    --red: #FFFFFF;
}
.active {
    color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

