@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active {
    color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--green);
    transform-origin: 0%;
}